body {
  background-color: #FFF8DC; /* Un colore crema pastello per il tema cucina */
  color: #333;
  font-family: 'Arial', sans-serif;
}

.navbar {
  /*overflow: hidden;*/
  padding: 16px 20px; /* Padding leggermente maggiore per un look più spazioso */
  background-color: #555;
}

.navbar a{  /**/
  /*float: left;
  display: block;*/
  padding: 16px 20px;
  color: #f2f2f2;
  text-align: left;
 
  /*text-decoration: none;*/
  font-size: 17px;
}

.navbar a:hover { /*a*/
  background-color: #9ACD32; /* Un verde chiaro per simboleggiare ingredienti freschi */
  color: #fff;
}
/*.navbar:active{ a
  background-color: #9ACD32; Un verde chiaro per simboleggiare ingredienti freschi 
  color: #fff;
}
*/

h1 {
  color: #556B2F; /* Un verde oliva per il titolo principale */
  text-align:center;
}

h2 {
  color: #6B8E23; /* Un verde primavera per il titolo secondario */
  text-align:center;
}
.contenuto{
  line-height:40px;
  width:1100px;
}

img {
  /*display: block;*/
  margin-left: 300px;
  margin-right: auto;
  width: 50%;
}

button {
  background-color: #32CD32; /* Un verde lime per il pulsante, invita all'azione */
  color: white;
  padding: 14px 28px; /* Dimensioni leggermente diverse */
  border: none;
  border-radius: 4px; /* Raggio di bordo più pronunciato */
  cursor: pointer;
  transition: background-color 0.3s ease; /* Transizione più lenta */
  margin: 10px; /* Margine per separarlo dagli altri elementi */
  box-shadow: 2px 2px 6px rgba(0,0,0,0.2); /* Ombra più sottile e meno scura */
}

button:hover {
  background-color: #ADFF2F; /* Cambio colore su hover in un giallo-verde */
}